@model IEnumerable<Peripatoi.UI.Models.DTOs.PeripatosDto>

@{
    ViewData["Title"] = "Περίπατοι";
}

<h1 class="mt-4 mb-3 text-primary">Περίπατοι</h1>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-secondary" asp-controller="Peripatoi" asp-action="Prosthiki">Προσθήκη νέου περιπάτου</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Όνομα</th>
                <th>Περιγραφή</th>
                <th>Μήκος σε Χλμ.</th>
                <th>Σύνδεσμος Εικόνας</th>
                <th>Ενέργειες</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peripatos in Model)
            {
                <tr>
                    <td>@peripatos.Id</td>
                    <td>@peripatos.Onoma</td>
                    <td>@peripatos.Perigrafh</td>
                    <td>@peripatos.Mhkos</td>
                    <td>@peripatos.EikonaUrl</td>
                    <td>
                        <a asp-controller="Peripatoi" asp-action="Epeksergasia" asp-route-id="@peripatos.Id" class="btn btn-outline-primary btn-sm">Επεξεργασία</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    h1 {
        font-family: 'Arial', sans-serif;
        font-size: 2.5rem;
    }

    .btn-primary, .btn-secondary {
        font-size: 1rem;
    }

    .table-hover tbody tr:hover {
        background-color: #f1f1f1;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-radius: .25rem;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }
</style>
